<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>Change your password</h5>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <% if resource.errors.any? %>
        <% resource.errors.full_messages.each do |error| %>
          <%= js add_gritter(error, title: "Error:", sticky: false) %>
        <% end %>
      <% end %>
      <%= f.hidden_field :reset_password_token %>
    
      <div class="input-field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "border-bottom" %>
      </div>
    
      <div class="input-field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "border-bottom" %>
      </div>
    
      <button class="btn waves-effect waves-light" type="submit" name="action">Change My Password
        <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>
</div>
