%nav.teal.lighten-1.z-depth-2
  .container
    .nav-wrapper
      %a.brand-logo{:href => "#!"} LearnFullStack
      %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu
      %ul.right.hide-on-med-and-down
        %li
          %a{:href => "#"} Courses
        - if user_signed_in?
          %li
            %a.dropdown-button{"data-activates" => "dropdown1", :href => "#!"}
              = current_user.name
              %i.material-icons.right arrow_drop_down
        - else
          %li
            = link_to "Sign Up", new_user_registration_path
          %li
            = link_to "Login", new_user_session_path
          
      %ul#mobile-demo.side-nav
        %li
          %a{:href => "#"} Courses
        - if user_signed_in?
          %li
            %a.dropdown-button{"data-activates" => "dropdown2", :href => "#!"}
              = current_user.name
              %i.material-icons.right arrow_drop_down
        - else
          %li
            = link_to "Sign Up", new_user_registration_path
          %li
            = link_to "Login", new_user_session_path

